body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  margin: 0;
}

header {
  position: relative;
  height: 60px;
  background-image: url("/Images/header2.jpg");
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-top: 4%;
  color: black;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: black;
}

.home {
  color: #fff;
  font-size: 18px;
  right: 0;
  top: 0;
  position: absolute;
  margin-top: 15px;
  margin-right: 40px;
}

.pageGrid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  grid-row-gap: 2%;
}

.webPage {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  header {
    height: 100px;
    width: 100%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  .webPage {
    transition: 0.5s;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .webPage:hover {
    width: 100%;
  }

  .home {
    font-size: 28px;
    margin-top: 25px;
    margin-right: 100px;
  }

  .pageGrid {
    display: flex;
    max-width: 1500px;
    grid-column-gap: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 24px;
  }
}
